.radioInput {
  display: none;
}

.radioLabel {
  width: 10px;
  height: 10px;
  background-color: #b3b3b3;
  cursor: pointer;
  border-radius: 10px;
  transition: .1s ease-in;
  transition-property: transform;
}

.radioLabel:hover {
  transform: scale(2);
  z-index: 1;
}

.high {
  background-color: #e67775;
}

.medium {
  background-color: #ffbf89;
}

.low {
  background-color: #ffe6a7;
}

.selector {
  position: relative;
  display: grid;
  place-items: center center;
  grid-template-rows: 10px 10px;
  grid-template-columns: 10px 10px;
  gap: 2px;
}
