.checkbox {
  display: none;
}

.icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: -6px;
  left: -7px;
  opacity: 0;
  transition: .2s ease-in;
  transition-property: opacity;
}

.label {
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, .02);
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  border: 2px solid #b3b3b3;
  border-radius: 10px;
  cursor: pointer;
}

.label:hover .icon, .label:focus .icon {
  opacity: 1;
}

.priority_0 {
  border-color: #e67775;
}

.priority_1 {
  border-color: #ffbf89;
}

.priority_2 {
  border-color: #ffe6a7;
}

.label .icon {
  fill: #b3b3b3;
}

.priority_2 .icon {
  fill: #ffe6a7;
}

.priority_1 .icon {
  fill: #ffbf89;
}

.priority_0 .icon {
  fill: #e67775;
}

.completed {
  background-color: #3c9b0d;
  border-color: transparent;
}

.completed .icon {
  fill: #fff;
  opacity: 1;
}
