.select {
  min-width: max-content;
  background-color: #282828;
  color: inherit;
  padding: 10px;
  border-color: transparent;
  border-radius: 4px;
  outline: none;
  transition: .1s ease-in;
  transition-property: background-color;
  cursor: pointer;
  -webkit-appearance: none;
}

.select:hover {
  background-color: #363636;
}
