.input {
  max-width: 550px;
  height: 2.5em;
  background-color: rgba(0, 0, 0, 0.01);
  font-size: 16px;
  box-sizing: border-box;
  padding: 10px 16px;
  border: none;
  border-radius: 2px;
  outline: none;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
  transition: .2s linear;
  transition-property: background-color;
}

.input:focus::placeholder {
  color: transparent;
}
