.title {
  font-weight: 300;
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin: 0;
  cursor: text;
}

.dueDate {
  font-size: 14px;
  font-style: italic;
  text-align: right;
}

.todoItem {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.87);
  box-sizing: border-box;
  position: relative;
  display: grid;
  padding: 10px 5px;
  grid-template-columns: 20px auto 150px;
  gap: 10px;
  align-items: center;
}

.completed .title {
  text-decoration: line-through solid #fff;
}
