.form {
  width: max-content;
  background-color: #282828;
  text-align: center;
  position: relative;
  padding: 20px 30px;
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 30px;
}

.input {
  background-color: #171717;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.87);
  vertical-align: middle;
  display: inline-block;
}

.textField {
  composes: input;
  max-width: none;
  width: 790px;
}

.dateField {
  composes: input;
  font-style: italic;
  width: 310px;
}
