.iconDelete {
  fill: rgba(255, 255, 255, .8);
  stroke: rgba(255, 255, 255, .8);
  position: absolute;
  top: 50%;
  left: -26px;
  opacity: 0;
  transition: .15s ease-in;
  transition-property: opacity;
  transform: translateY(-50%);
  cursor: pointer;
}

.prioritySelector {
  position: absolute;
  top: 50%;
  right: -26px;
  transform: translateY(-50%);
}

.container {
  position: relative;
}

.outdated {
  opacity: .45;
}

.container:hover .iconDelete {
  opacity: 1;
}
