.title {
  text-align: center;
}

.form {
  grid-area: form;
}

.select {
  width: 70%;
  font-size: 16px;
  margin-bottom: 10px;
}

.filters {
  grid-area: filter;
  text-align: right;
  padding-right: 30px;
}

.todoList {
  grid-area: list;
  max-width: 820px;
}

.main {
  display: grid;
  justify-content: center;
  row-gap: 30px;
  grid-template-columns: auto auto 30px 340px;
  grid-template-areas:
    "form form form form"
    "list list . filter";
}

.home {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
